*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.classpath
/.project
/bin/jarlist.cache
/gen/com/infonuascape/osrshelper/BuildConfig.java
/gen/com/infonuascape/osrshelper/R.java
/project.properties

# don't version intellij idea's spam
.idea/
*.iml
gen/
out/
/bin/AndroidManifest.xml
/bin/MainMenuActivity.apk
/bin/OSRSHelper.apk
/bin/classes.dex
/bin/res/crunch/drawable-hdpi/ic_launcher.png
/bin/res/crunch/drawable-ldpi/agility.png
/bin/res/crunch/drawable-ldpi/attack.png
/bin/res/crunch/drawable-ldpi/constitution.png
/bin/res/crunch/drawable-ldpi/construction.png
/bin/res/crunch/drawable-ldpi/cooking.png
/bin/res/crunch/drawable-ldpi/crafting.png
/bin/res/crunch/drawable-ldpi/defence.png
/bin/res/crunch/drawable-ldpi/farming.png
/bin/res/crunch/drawable-ldpi/firemaking.png
/bin/res/crunch/drawable-ldpi/fishing.png
/bin/res/crunch/drawable-ldpi/fletching.png
/bin/res/crunch/drawable-ldpi/herblore.png
/bin/res/crunch/drawable-ldpi/hunter.png
/bin/res/crunch/drawable-ldpi/magic.png
/bin/res/crunch/drawable-ldpi/mining.png
/bin/res/crunch/drawable-ldpi/overall.png
/bin/res/crunch/drawable-ldpi/prayer.png
/bin/res/crunch/drawable-ldpi/ranged.png
/bin/res/crunch/drawable-ldpi/runecrafting.png
/bin/res/crunch/drawable-ldpi/slayer.png
/bin/res/crunch/drawable-ldpi/smithing.png
/bin/res/crunch/drawable-ldpi/strength.png
/bin/res/crunch/drawable-ldpi/thieving.png
/bin/res/crunch/drawable-ldpi/woodcutting.png
/bin/res/crunch/drawable-mdpi/ic_launcher.png
/bin/res/crunch/drawable-xhdpi/ic_launcher.png
/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
/bin/resources.ap_
bin
/.settings/org.eclipse.jdt.core.prefs

#Macintosh
.DS_Store