*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.classpath
/.project
/bin/jarlist.cache
/gen/com/infonuascape/osrshelper/BuildConfig.java
/gen/com/infonuascape/osrshelper/R.java
/project.properties

# don't version intellij idea's spam
.idea/
*.iml
gen/
out/