<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infonuascape.osrshelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".app.OSRSApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Hiscores widget -->
        <activity
            android:name=".activities.WidgetUsernameActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.hiscores.OSRSAppWidgetProvider"
            android:label="@string/widget_username_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_username_info" />
        </receiver>

        <service
            android:name=".widget.hiscores.OSRSWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>

        <!-- Grand Exchange widget -->

        <activity
            android:name=".activities.WidgetGrandExchangeSearchActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.grandexchange.GrandExchangeAppWidgetProvider"
            android:label="@string/widget_grand_exchange_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_grand_exchange_info" />
        </receiver>

        <service
            android:name=".widget.grandexchange.GrandExchangeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>

        <!-- Firebase -->
        <service
            android:name=".fcm.OSRSFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".fcm.OSRSFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Providers -->

        <provider
            android:name=".db.OSRSContentProvider"
            android:authorities="com.infonuascape.osrshelper.provider"
            android:enabled="true" />
    </application>

</manifest>